
h1 {
		width: 70%;
		color: white;
		background-color: blue;
		font-family: Impact, Arial, Courier;
		font-style: italic;
		text-align: center;
		line-height: 300%
}			

.good {
		color: #ff0000;		
		font-family: Arial, Courier;
		font-style: normal;
		font-variant: small-caps;
		font-size: 15px;
		text-align: left;
		
}	

/* Currently just hide that specific element */
#secret-paragraph {
	display: none;
}


