body{
direction:rtl;
background:#B6B6B3;
margin:5%;
font-size: 150%;
font-family: Arial, "Times New Roman", serif;
}

header{
	background: #BBBBBB;
	text-align: center;
	padding-bottom: 15px;
}

h1{
	color: #555555;
}

nav{
	font-variant: small-caps;	
	font-size: 150%;
}

h2{
	color: #666666;
	background: #BBBBBB;
}

section{
	display:inline-block;
	width:30%;
	margin-right: 2%;
}

summary{
	font-style: normal;
}

details{
	font-style: italic;
}

footer{
	background: #BBBBBB;
	height:100px;
}

img{
	width: 100px;
}

a {
	background-color: #BBBBBB;
	color: #666666;
}


progress {
}
