body{
direction:rtl;
background:#B6B6B3;
margin:5%;
font-size: 150%;
font-family: Arial, "Times New Roman", serif;
}

header{
}

h1{
}

nav{
}

h2{
}

section{
}

summary{
}

details{
}

footer{
}

img{
}

a {
}

progress {
}
